{% extends 'base.html.twig' %}

{% block title %} Preview - Newsletter {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/main.css">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1> Subscribe to the Newsletter </h1>

        {{ form_start(form) }}
            <b>*{{ form_label(form.email) }} </b>
            {{ form_widget(form.email) }}
            {% if form_errors(form.email) %}
                {{ form_errors(form.email) }}
            {% endif %}
            <br>
        {{ form_end(form) }}
    </div>
{% endblock %}
